@if (currentProject()?.isArchived) {
  <div class="archived-notice">
    <span>
      {{
        (currentProject()?.isDone
          ? T.F.PROJECT.COMPLETE.NOTICE
          : T.F.PROJECT.ARCHIVED_NOTICE
        ) | translate
      }}
    </span>
    <button
      mat-button
      (click)="restoreProject()"
    >
      {{
        (currentProject()?.isDone
          ? T.F.PROJECT.COMPLETE.REOPEN
          : T.F.PROJECT.ARCHIVED_PROJECTS.UNARCHIVE
        ) | translate
      }}
    </button>
  </div>
}
@if (isPlaneListLayout()) {
  <work-item-list></work-item-list>
  <button
    class="classic-view-switch"
    type="button"
    (click)="setPlaneListLayout(false)"
  >
    Switch to classic view
  </button>
} @else {
  <work-view
    [unclaimedTasks]="unclaimedTasks()"
    [backlogTasks]="backlogTasks()"
    [doneTasks]="doneTasks()"
    [isShowBacklog]="isShowBacklog()"
    [undoneTasks]="undoneTasks()"
  ></work-view>
  <button
    class="classic-view-switch"
    type="button"
    (click)="setPlaneListLayout(true)"
  >
    Switch to work item list
  </button>
}
